
.toplevel_page_tournament-settings {
  background-color: #1D2327;

  #wpbody-content {
    border-left: 1px solid rgba(145, 145, 145, 0.253);
    background-color: #1D2327;

    .settings-page {
      &__header {
        box-shadow: 0px 0px 20px 0px #2780f596;
      }
    }


  }
  select{
    max-width: 100% !important;
  }

  #wpcontent {
    padding-left: 0px !important;
  }

  .wpwrap {
    background-color: #1D2327;
  }

  .step_2{
    &-wrap {
      display: none;
      #step-2-groups {
        display: flex ;
          &:last-child(){
            display: none !important;
          }
      }
    }
  }


  #api-check {
    animation: fadeIn 0.8s ease-in both;
    animation-delay: 0.3s;
  }

  .note-settings {
    font-size: 10px;
    color: white;
    animation: fadeIn 0.8s ease-in both;
    animation-delay: 0.3s;
  }

  #wpfooter {
    display: none;
  }

  #tourTypeWrap {
    display: none;
  }

}
